/*-----------------------couleurs arrière-plan personnalisés-----------------*/
.container
{
    width: 960px;
}

.bg-bluecampus
{
    background: #104285;
}

.bg-navyvelines
{
    background: #4c4c4c;
}

.bg-white
{
    background: #ffffff;
}

/*-----------------------couleurs texte personnalisés-------------------------*/

.text-bluecampus
{
    color: #104285;
}

/*------------------------Polices texte personnalisées------------------------*/

.campus
{
    font-family: 'Roboto Condensed', sans-serif;
}